# global
*~

# development
/.cache
/build
/.gdbinit
/files/*
!/files/README
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
TAGS
compile_commands.json
results.json
xv6-vm-submit*.tar.gz

# preferences
/.vscode
/.idea
/.zed

# code agent configs
/.agents
/.kilocode
/.claude
/.trae
/.codex

# os-related
.DS_Store
