# global
*~

# development
/build
/.gdbinit
/files/*
!/files/README
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
TAGS

# preferences
/.vscode
/.idea

# code agent configs
/.agents
/.kilocode
/.claude
/.trae
/.codex

# os-related
.DS_Store
